*{
  margin: 0;
  padding: 0;
}

/*imagen de fondo*/
.cuerpo-inicio{
  height: 100vh;
  background: url('../img/Slider/slider_8.jpg')center;
  background-repeat: no-repeat;
  background-size:cover;
}
/*-------------------*/

/*Logo del restaurante*/
.logo h1 {
  font-size: 25px;
  font-family: "Old English Text MT";
  background: rgb(175, 0, 0);
  width: 140px;
  padding: 5px;
  text-align: center;
  color: white;
  border: 5px  rgb(255, 255, 255) double;
  border-radius: 15px;
}
.logo{
position: absolute;
left: 43%;

}
/*---------------------*/

nav {
  margin: 0 auto;
 background: rgba(0, 0, 0, 0.473);
  width: 98%; 
  border-radius: 20px;
}

.contenedor-navegacion {
 display: flex;
 flex-direction: row; 
}
/*enlaces del encabezado*/
ul li {

  list-style: none;  
  margin-left: 20px;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Bookshelf Symbol 7;
  font-weight:700;
}

nav li{
  display: flex;
  float: left;
  display: inline;


}
.enlaces-encabezado{
  padding: 35px;
}
.In{
  position: absolute;
  left: 10%;
}
.Me{
  position: absolute;
  left: 20%;
}
.Se{
  position: absolute;
  left: 30%;
}
.Ac{
  position: absolute;
  left: 57%;

}

.Pa{
  position: absolute;
  left: 75%;

}

.Bl{
  position: absolute;
  left: 85%;

}

/*------------------*/

/*contenido del inicio*/

.contenido-inicio{
  margin: 1% auto;
  width: 97%;
  height: 82%;
  border-top: 10px solid rgba(0, 0, 0, 0.473);
  border-radius: 20px;
  background:rgba(0, 0, 0, 0.473);
 
}

.contenidos{
  padding-top: 200px;
  text-align: center;
}

.contenidos h1{
font-size: 80px;
color: blanchedalmond;
}
.contenidos p{
  font-size: 20px;
  color: blanchedalmond;
}

/* Boton del contenido de inicio */

.contenidos a{
  margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #de1f1f;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(212, 21, 21, 0.46);    
}

footer {
    display: flex;
    width: 100%;
    height: 40vh;
    background-image: url("../img/Platos/plato_25.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

footer >.contenedor {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.573);
    display: flex;
}

footer >.contenedor >.marcas {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    margin-top: 2%;
    padding: 30px;
}

/* tamaño y espacio de iconos*/
footer >.contenedor >.marcas >img {
    width: 70px;
    padding: 6px 1px;
}

footer >.contenedor >.contacto >img {
    width: 70px;
    padding: 6px 1px;
}

footer >.contenedor >.email >img {
    width: 70px;
    padding: 6px 1px;
}

/* redes sociales */
.redes-sociales {
  
    display: flex;
    position: absolute;
    right: 140px;
    margin-top: 1%;
}

.informacion {
 
    display: flex;
    position: absolute;
    left: 60px;
    margin-top: 1%;
}

.contacto {
    display: flex;
    position: absolute;
    left: 180px;
    margin-top: 2%;
}

.info-contacto {
    display: flex;
    position: absolute;
    left: 250px;
    margin-top: 3.5%;
}

.email {
    display: flex;
    position: absolute;
    left: 130px;
    margin-top: 6%;
}

.info-email {
    display: flex;
    position: absolute;
    left: 200px;
    margin-top: 7.5%;
}

.titulo {
    color: white;
    margin-bottom: 50px;
}

.contenedor-footer {
  position: absolute;
  width: 100%;
  margin-top: 12%; 
 display: flex;
 flex-direction: row;  
}

.enlaces-footer{  
  padding: 5px;
}
.In{
  position: absolute;
  left: 10%;
}
.Me{
  position: absolute;
  left: 20%;
}
.Se{
  position: absolute;
  left: 30%;
}
.Ac{
  position: absolute;
  left: 57%;

}

.Pa{
  position: absolute;
  left: 75%;

}

.Bl{
  position: absolute;
  left: 85%;

}

