/* contenedor del footer */
footer {
    display: flex;
    width: 100%;
    height: 60vh;
    background-image: url("../img/Platos/plato_25.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

footer >.contenedor {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
}

footer >.contenedor >.marcas {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    margin-top: 230px;
    padding: 30px;
}

/* tamaño y espacio de iconos*/
footer >.contenedor >.marcas >img {
    width: 70px;
    padding: 6px 1px;
}

footer >.contenedor >.contacto >img {
    width: 70px;
    padding: 6px 1px;
}

footer >.contenedor >.email >img {
    width: 70px;
    padding: 6px 1px;
}

/* redes sociales */
.redes-sociales {
    display: flex;
    position: absolute;
    right: 140px;
    margin-top: 195px;
}

.informacion {
    display: flex;
    position: absolute;
    left: 60px;
    margin-top: 195px;
}

.contacto {
    display: flex;
    position: absolute;
    left: 180px;
    margin-top: 250px;
}

.info-contacto {
    display: flex;
    position: absolute;
    left: 250px;
    margin-top: 260px;
}

.email {
    display: flex;
    position: absolute;
    left: 130px;
    margin-top: 320px;
}

.info-email {
    display: flex;
    position: absolute;
    left: 200px;
    margin-top: 330px;
}

.titulo {
    color: white;
    margin-bottom: 50px;
}

/* navegador */
ul li {
    list-style: none;  
    margin-left: 20px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Bookshelf Symbol 7;
    font-weight:700;
}

nav {
    background: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 90px;
    border-radius: 20px;
}

nav li{
    display: flex;
    float: left;
    display: inline;
}

.enlaces-encabezado{
    padding: 45px;
}

.contenedor-navegacion {
    display: flex;
    flex-direction: row; 
    margin-top: 420px;
}

.contenedor-navegacion a:hover {
    color: red;
}

.inicio{
    position: absolute;
    left: 23%;
}

.menu{
    position: absolute;
    left: 33%;
}

.servicios{
    position: absolute;
    left: 43%;
}

.acerca{
    position: absolute;
    left: 53%;
}
  
.paginas{
    position: absolute;
    left: 63%;
}
  
.blog{
    position: absolute;
    left: 73%;
} 